.button {
	width: 210px;
	height: 50px;
	background: #F0A000;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	border: none;
}