.romania {
	background-color: #000000;
	padding: 240px 0 0 0;
	margin-top: -240px;
	background-image: url('./img/romania-bg.png');
	background-repeat: no-repeat;
	background-position: left 150px;
}

.romania-title {
	font-weight: 300;
	font-size: 45px;
	line-height: 66px;
	color: #F4B938;
	margin-top: 150px;
}

.romania-content {
	margin: 100px auto 0;
	width: 1296px;
	max-width: calc(100% - 30px);
}

.romania-row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 110px;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.img-1 {
	width: calc(50% - 15px);
}

.romania-row-right {
	display: flex;
	flex-direction: column;
	width: calc(50% - 15px);
}

.romania-row-title {
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 45px;
	color: #F4B938;
	margin: 0 0 15px;
	text-align: left;
}

.romania-row-text {
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	
	text-align: left;
}
.romania-row-text a{
	color: white;
	opacity: 1;
	text-decoration: none;
}
.romania-row-text a:hover{
	color: #F4B938;
	
}
.romania-row-middle {
	width: calc(100% / 3 - 15px);
}

.romania-row-bottom {
	width: calc(50% - 15px);
}

@media screen and (max-width: 1500px) {
	.romania-row-middle {
		min-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 110px;
	}

	.romania-row-middle > img,
	.romania-row-middle > div {
		width: calc(50% - 15px);
	}
}

@media screen and (max-width: 900px) {
	.romania {
		background-size: 100%;
		background-position: 5% 7%;
	}
	.romania-title {
		margin-top: 0;
		font-weight: 350;
		font-size: 25px;
		line-height: 37px;
		padding: 0 10%;
	}
	.romania-content {
	    margin-top: 450px;
	    padding: 250px 20px;
		width: 100%;
		max-width: none;
	}
	.romania-row {
		flex-direction: column;
		padding: 0;
	}
	.romania-row-right {
		margin-top: 20px;
	}
	.romania-row img {
		margin: 0;
		width: calc(100% - 40px);
	}
	.romania-row-middle, .romania-row-bottom {
		width: calc(100% - 40px);
		margin-top: 80px;
		padding-bottom: 0;
	}
	.romania-row-title {
		font-size: 25px;
		line-height: 37px;
	}
}