.mark {
	fill: #fff;
	transition: 1s ease-in-out;
	cursor: pointer;
}

.number {
	fill: #000;
	transition: 1s ease-in-out;
	cursor: pointer;
}

.number.actiiveNumber {
	fill: #fff;
}

.mark.active,
.mark:hover {
	fill: #E3393B;
}
