.footer {
	height: 437px;
	background-color: #000000;
	background-image: url('./img/footer-desc.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

@media screen and (max-width: 1000px) {
	.footer {
		background-size: contain;
	}
}

@media screen and (max-width: 800px) {
	.footer {
		height: 337px;
	}
}

@media screen and (max-width: 500px) {
	.footer {
		height: 200px;
		background-image: url('./img/footer-mob.png');
	}
}